.listItem {
  border-radius: 2px;
  padding: 3px;

  > a {
    width: 65px;
    height: 65px;
    display: block;
  }
}

.control {
  font-size: 60px;
  font-weight: 100;
  line-height: 0;
  color: black;
  text-align: center;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.leftControl {
  @extend .control;
}

.rightControl {
  @extend .control;
}

.list {
  padding-left: 0;
  list-style: none;
  margin: 0;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.listItemActive {
  border: 1px solid #999999;
}

.thumbnail {
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  line-height: 1;
  padding: 0 40px 0 40px;
}
