.starsContainer {
  position: relative;
  height: 1em;
  margin-bottom: 5px;
  width: 5em;
}

.stars {
  position: absolute;
  top: 0;
  bottom: 0;
}

.filled {
  @extend .stars;

  color: #cc0000;
  overflow: hidden;
  // just a taller height
  height: 2em;
}

.unfilled {
  @extend .stars;

  color: #999999;
}
