.container {
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.inputLabel {
  margin: 0;
}

.input {
  font-size: 18px;
  color: black;
}

.actionButton {
  width: 30px;
  // for ie10, I had to add min-width
  min-width: 30px;
  height: 30px;
  text-align: center;
  padding: 0;
  //line-height: 30px;
  background: #cccccc;
  color: white;
  font-size: 20px;
  // using !important in order to override bootstrap's styles
  border-radius: 100% !important;
  margin-right: 0 !important;
  vertical-align: middle;
  display: table-cell
}

.actionButtonDecrement {
  @extend .actionButton;
}

.actionButtonIncrement {
  @extend .actionButton;
}

.controlsContainer {
  width: 45%;

  :global(.form-control) {
    border: 0;
    box-shadow: none;
    text-align: center;
    font-weight: bold;
    // to match the buttons
    line-height: 30px;
    height: 30px;
  }
}

.inputGroupBtn {
}
