.product-details__title {
  color: black;
  font-size: 26px;
  line-height: 30px;
  margin: 0 0 50px;
}

.product-details__carousel {
  margin-bottom: 30px;
}

.product-details__promotions {
  ul {
    margin: 0;
  }
}

.product-details__separator {
  margin: 30px 0;
}

.product-details__section {
  margin-bottom: 30px;
}

.product-details__actions {
  .btn-default, .btn-primary {
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .btn-default {
    border: 1px solid black;
    background-image: linear-gradient(to bottom, #949494, #000000);
    color: white;

    &:active {
      color: white;
    }
  }

  .btn-primary {
    border: 1px solid #cc0000;
    background-image: linear-gradient(to bottom, #e37070, #cc0000);
    color: white;

    &:active {
      color: white;
    }
  }

  .btn-link {
    color: black;
    font-size: 12px;
    margin: 0;

    &:active {
      color: black;
    }
  }
}

.product-details__social {
  .btn {
    text-transform: uppercase;
    color: #333333;
    background: #f3f3f3;
    border: none;
    margin-bottom: 5px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.product-details__legal {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  .legal__title {
    font-size: 20px;
    color: #666666;
    margin: 0;
  }

  .legal__divider {
    width: 1px;
    height: 2.5em;
    margin: 0 15px;
    background: #cccccc;
    // always keep it at a constant width of 1px
    flex: 0 0 1px;
  }

  .legal__description {
    color: #666666;
    font-size: 10px;
    line-height: 14px;
  }
}

.product-details__highlights {
  .highlights__title {
    font-size: 36px;
  }
}
