.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.mainImage {
  margin-bottom: 70px;
  max-width: 100%;

  img {
    margin: 0 auto;
  }
}

.zoomImage {
  display: none;
  text-align: center;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    display: block;
  }

  a {
    font-size: 14px;
    color: #666666;

    > span {
      &:before {
        content: "\1F50D ";
        //font-size: 1.5em;
      }
    }
  }
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;

  > div {
    width: 50%;
    min-width: 400px;
  }
}
