.heading {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.headingFirstColumn {
}

.overallStars {
  display: inline-block;
  margin-right: 5px;
  font-size: 23px;
}

.headingSecondColumn {
  :global(a) {
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.columnTitle {
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
}

.columnSubtitle {
  font-size: 12px;
  text-transform: lowercase;
  color: #666666;
  font-family: Arial, serif;
}

.separator {
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #cccccc;
}

.reviewDescriptionsContainer {
  padding: 15px 0;
  background-color: #f6f5f5;
}
